html{
	position: relative;
	width: 100%;
	height: 100%;
	background: #000000;
	box-shadow: inset 0px 0px 60px rgba(255, 255, 255, 0.6);
}

/*#AccountPageUI{
	background: white;
}*/

#topGrayRect{
	position: absolute;
	width: 100%;
	height: 5%;
	left: 0px;
	top: 18%;
	background: rgba(155, 155, 155, 0.45);
	display: table;
	table-layout: fixed;
}

a{
    display: table-cell;
	text-align: center;
	font-family: 'KoHo';
	color: white;
	text-decoration: none;
	font-size: 38px; /* TEST ON OTHER BROWSERS AND SCREEN RATIOS*/
	vertical-align:middle;
}

#accountMainBox{
	position: absolute;
	width: 70%;
	height: 60%;
	left: 50%;
	top: 35%;
	margin: auto;
	background: #E5E5E5;
	border-radius: 42px;
	padding:0%;
	transform: translate(-50%, 0%); /* centers the box */
}

#mainBoxContent{
	font-size: 30px;
	font-family: 'KoHo';
	padding-left: 5%;
	padding-top: 12%;
	color: rgba(255, 255, 255, 0.69);
}



.accButtons{
	justify-content: center;
	text-align: center;
	display: inline-flex; /* keep the inline nature of buttons */
    align-items: flex-start; /* this is default */
	height: 20%;
	width: 15%;
	top: 29%;
	border-radius: 30px;
	position: absolute;
	margin: auto;
}

#accountAccBtn{
	left: 15%;
	background: #E5E5E5;
	color: black
}

#accountchangePassBtn{
	left: 30%;
	background: white;
	color: black
}

#accountchangeEmailBtn{
	left: 45%;
	background: white;
	color: black
}

.accButtons c{
	display: block;
	position: absolute;
	font-size: 30px;
	font-family: 'KoHo';
	padding: 0;
	text-align: center;
}

.accButtons d{
	display: block;
	position: absolute;
	font-size: 24px;
	font-family: 'KoHo';
	padding: 0;
	text-align: center;
}

.accButtons e{
	display: block;
	position: absolute;
	font-size: 24px;
	font-family: 'KoHo';
	padding: 0;
	text-align: center;
}

#logoutButton{
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	font-size: 30px;
	font-family: 'KoHo';
	color: white;
	width: 50%;
}

button{
	cursor: pointer;
}

#btnToRevealScore{
	display: inline;
	font-size: 30px;
	font-family: 'KoHo';
	color: rgba(255, 255, 255, 0.69);
}