@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital@0;1&family=VT323&display=swap');

body {
    text-align: center;
}

l {

    width: 670px;
    height: 100%;
    top: -10px;

    font-family: 'KoHo';
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    line-height: 100%;

    color: #FFD706;

    text-shadow: 0px 4px 4px rgba(255, 0, 0, 0.51);


}

z {
 
    width: 670px;
    height: 100%;
    top: -10px;

    font-family: 'KoHo';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 100%;

    color: #FFD706;

    text-shadow: 0px 4px 4px rgba(255, 0, 0, 0.51);

}

x {

    width: 670px;
    height: 100%;
    top: -20px;

    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 100%;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(255, 0, 0, 0.51);

    
}

#titleLoggedInDiv{
    height: 100px;
    width: 100%;
}

#titleLoggedInInner{
    height:100px;
    width: 40%;
    margin: 0 auto;
    display: table;
}