@import url('https://fonts.googleapis.com/css2?family=KoHo:ital@0;1&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.dropdown {
  box-sizing: content-box;
  font-family: 'KoHo';
  font-size: max(24px,2vw);
}

.dropdown {
  height: 6%;
  width: 100%;
  top: 20%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(155, 155, 155, 0.45);
  position: absolute;
}

.account:hover,
.leaderboard:hover,
[id=download]:hover,
[id=friends]:hover,
[id=logout]:hover {
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
  background: rgba(69, 69, 69, .95);
  transition: all 0.4s ease;
}

/*.account,
.leaderboard,
[id=download],
[id=friends],
[id=logout] {
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease;
}*/

.account,
.leaderboard {
  position: relative;
  z-index: 1000;
  font-size: max(24px,2vw);
}

#btnforAccountDrop{
	font-size: max(24px,2vw);
	width: fit-content;
	text-align: center;
	content-align: center;
	font-family: 'KoHo';
}

#btnforboards{
	font-size: max(24px,2vw);
	width: fit-content;
	text-align: center;
	content-align: center;
	font-family: 'KoHo';
}

.account ul,.leaderboard ul {
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: left;
  width: 300px;
  height: 200px;
  background: rgba(69, 69, 69, .95);
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
  /*   background: transparent; */
  color: rgba(255, 255, 255, 0.69);
  /*  background: white;*/
  /*  left: 0px;*/
  /*  list-style: none;*/
  /*   border-radius: 5px; */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  margin: 0;
  padding: 0;
}

.account li,
.leaderboard li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account li:hover,
.leaderboard li:hover {
  background-color: rgba(255, 255, 255, 0.30);
  pointer-events: auto;
  transition: all 0.4s ease;
  color: #FFD706;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.51);
}

.account a,
.leaderboard a {
  color: white;
  text-decoration: none;

}

.dropdown button,
.home {
  background: none;
  text-decoration: none;
  border: none;
  color: white;
  cursor: pointer;
}

.account button:focus + ul,
.leaderboard button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.friends, .download, .leaderboard, .logout, .account, #btnforAccountDrop{
	font-size: max(24px,2vw);
}