@import url('https://fonts.googleapis.com/css2?family=KoHo:ital@0;1&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    position: center;
    width: 100%;
    height: 100%;

    background: #000000;
    box-shadow: inset 0px 0px 60px rgba(255, 255, 255, 0.6);
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap:25px;
  padding: 1px;
  width: 100%;
}

[id=loginName] {
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.69);
    border: transparent;

    width: 351px;
    height: 58px;

    background: #000000;
    box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3);
}

[id=loginPassword] {
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.69);
    border: transparent;

    width: 351px;
    height: 58px;

    background: #000000;
    box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3);
}

[id=loginButton] {
    font-family: 'KoHo';
    font-style: normal;
    font-size: 170%;
    line-height: 47px;
    align-items: center;
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.69);
    border:transparent;

    width: 250%;
    height: 100%;
    padding: 0px;

    background: #000000;
    box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3);

    margin: auto;
}

[id=loginButton]:hover {
    color: #FFD706;
}

createLnk {
    position: center;
    width: 348px;
    height: 48px;


    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    text-align: center;

    color: rgba(255, 255, 255, 0.69);
}

resetLnk {
    position: center;
    width: 348px;
    height: 48px;


    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    text-align: center;

    color: rgba(255, 255, 255, 0.69);

}

span {
    position: center;
    width: 348px;
    height: 48px;


    font-family: 'VT323';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    text-align: center;

    color: #FFD706;
    text-shadow: 0px 4px 4px rgba(255, 0, 0, 0.51);
}

form {
    display:inline-block;
    position: center;
}

createLnk:hover {
    color: #FFD706;
}

resetLnk:hover {
    color: #FFD706;
}
