@import url('https://fonts.googleapis.com/css2?family=KoHo:ital@0;1&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    position: center;
    width: 100%;
    height: 100%;

    background: #000000;
    box-shadow: inset 0px 0px 60px rgba(255, 255, 255, 0.6);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap:25px;
  padding: 1px;
}

registey {
    color: rgba(255, 255, 255, 0.69);
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
}

[id=RegisterName] {
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.69);
    border: transparent;

    width: 351px;
    height: 58px;

    background: #000000;
    box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3);
}

[id=RegisterEmail] {
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.69);
    border: transparent;

    width: 351px;
    height: 58px;

    background: #000000;
    box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3);
}

[id=RegisterPassword] {
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.69);
    border: transparent;

    width: 351px;
    height: 58px;

    background: #000000;
    box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3);
}

[id=RegisterButton] {
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;

    align-items: center;
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.69);
    border:transparent;

    width: 58px;
    height: 60px;
    padding: 0 0 8px 4px;

    background: #000000;
    box-shadow: inset 0px 0px 25px rgba(255, 255, 255, 0.3);
}

[id=RegisterButton]:hover {
    color: #FFD706;
}

[id=gotoLoginLink] {
    color: rgba(255, 255, 255, 0.69);
    font-family: 'KoHo';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 47px;
}

[id=gotoLoginLink]:hover {
    color: #FFD706;
}
